@font-face {
    src: url("../fonts/LiuJianMaoCao-Regular.ttf");
    font-family: "LiuJian";
}

:root {
    font-size: 10px;
}

main {
    font-size: 1em;
}

h1 {
    background: crimson;
    color: white;
    padding-top: 3.7em;
    font-size: 2em;
    text-align: center;
    width: 10em;
    height: 10em;
    box-sizing: border-box;
    border-radius: 50%;
}

p {
    font-size: 1rem;
}

h2.mytitle:before {
    content: "My ";
}

h2.mytitle:after {
    content: " of the Section";
}
nav a {
    display: block;



a:hover {
    text-decoration: none;
}

a:visited {
    color: yellow;
}

a:active {
    color: green;
}

body {
    background: url("images/bsp.jpg") 10px 10px yellow;
}

div {
    border: 3px solid yellow;
}